// ===================全局变量================================

@color: #0daeaf; //主色
@hover-color: #2bbdb8; //hover颜色
@active-color: #03858a; //active颜色

@header-height: 50px; //header高度
@header-zindex: 999; //header层级

@router-tabs-height: 30px; //菜单记录栏高度

@sider-width-fold: 60px; //侧边栏宽度-折叠
@sider-bg: #fff; //侧边栏背景颜色
@sider-scrollbar-width: 2px; //滚动条宽度
@sider-scroll-color: #e5ebf6; //滚动条滑块颜色
